code/co326_group13_flow.json
[
    {
        "id": "bd24ddef34a96706",
        "type": "tab",
        "label": "Smart Locking System",
        "disabled": false,
        "info": "CO326 Project",
        "env": []
    },
    {
        "id": "680ed796c7f4138e",
        "type": "mqtt in",
        "z": "bd24ddef34a96706",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35e951fb92224c64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 464.99999237060547,
        "y": 218.00000381469727,
        "wires": [
            [
                "e29769d6aafe3f6c",
                "69b79f28acc7d736",
                "fccf5cebc8f5adfe"
            ]
        ]
    },
    {
        "id": "671a821087a046d0",
        "type": "ui_chart",
        "z": "bd24ddef34a96706",
        "name": "Count-Graph",
        "group": "a4293d3f1cb54aa3",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "Cumulative Risk Movements",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "100",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 884.0000190734863,
        "y": 221.00000190734863,
        "wires": [
            []
        ],
        "info": "# ****Alert Ditection Timeline****"
    },
    {
        "id": "e29769d6aafe3f6c",
        "type": "function",
        "z": "bd24ddef34a96706",
        "name": "function 1",
        "func": "// Initialize the count variable\nif (flow.get(\"trueCount\") === undefined) {\n    flow.set(\"trueCount\", 0);\n}\n\n// Check if msg.payload is true and increment the count\nif (msg.payload) {\n    flow.set(\"trueCount\", flow.get(\"trueCount\") + 1);\n}\n\n// Create the output message with the true count\nmsg.payload = flow.get(\"trueCount\");\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 614.0000190734863,
        "y": 221.00000190734863,
        "wires": [
            [
                "671a821087a046d0",
                "da565a5433338ed6",
                "b82871dfcc618e14",
                "d5eb383df637eed9",
                "bfda10c627e7d170",
                "c43000cc0bd5ed29"
            ]
        ]
    },
    {
        "id": "d5eb383df637eed9",
        "type": "debug",
        "z": "bd24ddef34a96706",
        "name": "out1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 864.0000190734863,
        "y": 141.00000190734863,
        "wires": []
    },
    {
        "id": "da565a5433338ed6",
        "type": "ui_toast",
        "z": "bd24ddef34a96706",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Alert: Motion Event Count",
        "name": "Notification",
        "x": 884.0000190734863,
        "y": 261.00000190734863,
        "wires": []
    },
    {
        "id": "69b79f28acc7d736",
        "type": "function",
        "z": "bd24ddef34a96706",
        "name": "function 2",
        "func": "// Initialize the starting time\nif (flow.get(\"startTime\") === undefined) {\n    flow.set(\"startTime\", Date.now());\n}\n\n// Calculate the time elapsed from the starting point\nvar elapsedTime = Date.now() - flow.get(\"startTime\");\n\n// Retrieve the current value (true/false) from msg.payload\nvar currentValue = msg.payload;\n\n// Create an output message with the elapsed time and current value\nmsg.payload = currentValue;\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 400,
        "wires": [
            [
                "be9ed781025c1708"
            ]
        ]
    },
    {
        "id": "be9ed781025c1708",
        "type": "debug",
        "z": "bd24ddef34a96706",
        "name": "out2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "b82871dfcc618e14",
        "type": "ui_gauge",
        "z": "bd24ddef34a96706",
        "name": "",
        "group": "a4293d3f1cb54aa3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Movement Threat Analysis",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 934.0000190734863,
        "y": 181.00000190734863,
        "wires": []
    },
    {
        "id": "abca8ec6a3a91ce8",
        "type": "mysql",
        "z": "bd24ddef34a96706",
        "mydb": "473194d614703665",
        "name": "MySQL",
        "x": 880,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bfda10c627e7d170",
        "type": "function",
        "z": "bd24ddef34a96706",
        "name": "function 3",
        "func": "// Prepare the SQL query\nvar query = \"INSERT INTO motions (time, count) VALUES (NOW(), \" + msg.payload + \")\";\n\n// Set the MySQL node configuration\nmsg.topic = query;\nmsg.payload = query;\nmsg.connection = \"your_mysql_connection_name\"; // Replace with your MySQL connection name\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 80,
        "wires": [
            [
                "abca8ec6a3a91ce8"
            ]
        ]
    },
    {
        "id": "c43000cc0bd5ed29",
        "type": "ui_numeric",
        "z": "bd24ddef34a96706",
        "name": "",
        "label": "numeric",
        "tooltip": "Number of Motion Detected",
        "group": "a4293d3f1cb54aa3",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "payload",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "fccf5cebc8f5adfe",
        "type": "debug",
        "z": "bd24ddef34a96706",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "35e951fb92224c64",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a4293d3f1cb54aa3",
        "type": "ui_group",
        "name": "Movement Detection",
        "tab": "45f723add3b82ff4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "473194d614703665",
        "type": "MySQLdatabase",
        "name": "MySQL",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "co326",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "45f723add3b82ff4",
        "type": "ui_tab",
        "name": "Smart Security System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]